/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

/* My CSS */
body {
	height: 100vh;
}
img {
	width: 100px;
	height: auto;
}
header {
}
.data {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: antiquewhite;
	align-content: center;
}
.location {
	grid-column: 1/6;
	/* place-self: center; */
	text-align: center;
	font-size: 2.5rem;
	background-color: aquamarine;
}
.temperature {
	grid-row: 2;
	grid-column: 3;
	place-self: center;
	font-size: 5rem;
}
.icon-condition {
	grid-row: 2;
	grid-column: 2;
	place-self: center;
	display: flex;
	flex-direction: column;
}
.whether-container {
	grid-row: 2;
	grid-column: 4;
	place-self: center;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
}
